.leaflet-container{
    width: 100vw;
    height: 100vh;
}

.leaflet-popup-content>div>label{
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--text-color);
}

.leaflet-popup-content>a{
  margin-top: 1rem;
  padding: 0.7rem 1rem;
  background: var(--primary-color);
  border-radius: 4px;
  text-decoration: none;
  border: none;

  display: flex;
  justify-content: center;
  overflow: hidden;

  font-weight: bold;
  color: #fff;
}

.leaflet-popup-content>a:hover{
  background: #4a78eb;
}

#page-groups > button {
    position: absolute;
    left: 1rem;
    bottom: 2rem;
    z-index: 999;

    padding: 1% 2.5%;
    background: var(--primary-color);
    border-radius: 8px;
    text-decoration: none;
    border: none;

    display: flex;
    align-items: center;
    overflow: hidden;
  
    color: #fff;
    padding: 0.9rem 1rem;
}
#page-groups>button:hover{
    background: #4a78eb;
}


#page-groups button span{
    font-size: 12pt;
    font-weight: bold;
}

#page-groups button svg{
    margin-right: 1.2rem;
}

#page-groups form{
    position: absolute;
    z-index: 999;
    left: 1rem;
    bottom: 6rem;
    
    margin: 1rem auto;
    padding: 2.5rem;
    max-width: 500px;
    background: #FFF;
    border-radius: 8px;
}

#page-groups form h1 {
    font-size: 36px;
    margin-bottom: 2rem;
  }

  #page-groups form .field-group {
    flex: 1;
    display: flex;
  }
  
  #page-groups form .field {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
  }
  
  #page-groups form .field input[type=text] {
    flex: 1;
    background: #F0F0F5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6C6C80;
  }

  #page-groups form .field input::placeholder {
    color: #A0A0B2;
  }
  
  #page-groups form .field label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  #page-groups form .field span {
    font-size: 13px;
    margin-top: 5px;
    position: absolute;
    bottom: -1.2rem;
    color: rgb(190, 18, 18);
    font-weight: bold;
  }
  
  #page-groups form button {
    width: 100%;
    height: 56px;
    background: var(--success-color);
    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    align-self: flex-end;
    transition: background-color 0.2s;
    cursor: pointer;
  }
  
  #page-groups form button:hover {
    background: #2FB86E;
  }  

  @media(max-width: 768px){
    #page-groups form{
      left: 1rem;
      bottom: 5rem;
    }
  }
  